<div class="registrazione" th:fragment="registrationForm(user)" id="registrazione">
    <h2>Inserisci i tuoi dati</h2>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <p class="label" >Nome:</p>
        <input class="inputBox" type="text" placeholder="Nome" th:field="*{name}">

        <p class="label" >Cognome:</p>
        <input class="inputBox" type="text" placeholder="Cognome" th:field="*{surname}">

        <p class="label">Username:</p>
        <input class="inputBox" type="text" placeholder="Username" th:field="*{username}">

        <p class="label">Email:</p>
        <input class="inputBox" type="text" placeholder="Email" th:field="*{email}">

        <p class="label">Telefono:</p>
        <input class="inputBox" type="text" placeholder="Telefono" th:field="*{telefono}">

        <p class="label">Password:</p>
        <input class="inputBox" type="password" placeholder="Password" th:field="*{password}">
        <br>

        <p class="label" >Conferma Password:</p>
        <input class="inputBox" type="password" placeholder="Conferma Password" th:field="*{passwordConfirm}">
        <br>
        <br>
        <button type="submit">Registrati</button>
    </form>
</div>