<!DOCTYPE html>
<!--html lang="it"-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleHomePage.css">
    <script src="../static/Home.js"></script>
     <!--Font google-->
	
	
<body>
    <div class="container">
        <div class="container_column1">
            <div class="title"><i>PARTITE PUBBLICHE</i> </div>
            <div id="match_container" class="matchContainer">

                <!--modifiche con aggiunta di thymeleaf-->
                <div class="match" th:each="m : ${available_matchs}">
                    <div class="match_column1">
                        <img class="campo_img" src="../images/campoa.jpg" alt="CampoS">
                    </div>
                    <div class="match_column2">
                        <div class="nome_organizzatore">
                            <span th:text="${m.matchmaker.name}"> Organizzatore : </span>
                        </div>
                        <div class="campo">
                            Campo 4 (coperto)
                        </div>
                        <div class="data_orario">
                            <img class="small_icon" src="calendar.png" alt="calendario"> 29/04/2021 <img class="small_icon" src="orologio.png" alt="orologio"> 17:50
                        </div>
                        <div class="prezzo">
                            6€
                        </div>
                    </div>
                    <div class="match_column3">
                        <div class="numeriGiocatori">
                            7/10
                        </div>
                        <button onclick='CreaMatch("match_container")'>Partecipa</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="container_column2">
            <!-- Dati profilo-->
            <div class="foto_profilo">
                <img src="avatar.png" alt="" class="avatar">
            </div>
            <div id="username" class="h1">Pippo.Franco56</div>
            <div id="nome_utente" class="span">Pippo Franco</div>

            <!-- Tab menù Partite-->
            <div class="menu_partite">
                <div id="partite_tab" class="selected" onclick='menuEvidence("partite_tab")'>Le Mie Partite</div>
                <div id="partite_organizzate_tab" class="not_selected" onclick='menuEvidence("partite_organizzate_tab")'>Partite Organizzate</div>
            </div>
            <div id="partite" class="lista_partite">
               
            </div>
            <div id="partite_organizzate" class="lista_partite_organizzate">
        
            </div>
            <button onclick='CreaMatch("partite")'>add 1</button>
            <button onclick='CreaMatch("partite_organizzate")'>add 2</button>
        </div>
        
    </div>
    

</body>

</html>